.header {
  padding: 20px;

  a {
    margin: 0 20px;
  }
}

.bg-light {
  color: #000000;
  background: #eeeeee;
}

.bg-dark {
  color: #ffffff;
  background: #222222;

  a {
    color: #ffffff;
  }
}